.header {
    overflow: hidden;
    background-color: #272522;
    color: #f1f1f1;
    padding: 20px 10px;
}
.header a {
    float: left;
    color:#f1f1f1;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-family: psistem;
    color: #ff8500; 
    font-size: 40px;
}

.header a:hover {
    background-color:#ff8500;
    color:#272522;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}
.logo{
    font-family: psistem;
    color: #ff8500; 
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-right {
        float: none;
    }
}